/*
    GENERAL
*/

/*  variables   */

@font-face {
    font-family: 'Cordata PPC-400';
    src: url(assets/fonts/Web437_Cordata_PPC-400.woff) format('woff');
    font-weight: normal;
    font-style: normal;
  }

:root {
    --pink1 : #ea1c90;
    --pink2 : #600d63;
    --pink2a : #600d63b3;
    --orange1 : #f79648;
    --orange2 : #ff9844;
    --orange3 : #fea459;
    --orange4 : #fdbd89;
}

/*  global      */

* {
    margin: 0;
    padding: 0;
    font-family: 'Cordata PPC-400';
}

body {
    background: linear-gradient(#0c092e 0%, #600d63 100%);
    overflow: hidden;
    height: 100vh;
}

a, a:visited {
    color: white;
    text-decoration: none;
}

/*  classes     */

.space {
    flex-grow: 2;
}

.drop {
    position: relative;
    display: inline-block;
    background-color: inherit;
}

.dropped {
    display: none;
    position: absolute;
}

.drop:hover .dropped {
    display: block;
}

.closeForm, .squareCorner {
    height: 10px;
    width: 10px;
    border: 1px solid black;
    display: flex;
    align-items: stretch;
}

.close {
    height: 10px;
    width: 10px;
    
    border: none;
    background-color: inherit;
    background-image: url(assets/img/cross-close.svg);
    background-size: cover;
}

.logo {
    height: 20px;
    width: 20px;
}

.links {
    display: flex;
}

.selectedDisplay {
    background-color: var(--pink2a);
}


/*
    NAV
*/

nav {
    max-height: 33px;
    color: #ffffff;
    background-color: var(--pink1);
    
    display: flex;
    flex-direction: row;
}

nav p {
    padding: 7px;
    text-align: center;
}

nav p:hover {
    background-color: var(--orange1);
}

nav .space:hover {
    background-color: var(--pink1);
}

nav .dropped {
    background-color: var(--pink1);
    text-align: left;
    border: 1px solid var(--orange1);
    border-radius: 2px;
}


/*
    DIALOG
*/

dialog header button {
    padding: 5px;
}

dialog header, dialog footer {
    background-color: var(--orange2);
}

dialog {
    border: 1px solid var(--orange3);
    background-color: var(--orange4);
    box-shadow: 0 2px 5px var(--orange2);
}

dialog * {
    padding: 3px;
}

dialog .space {
    margin: 7px;
    height: 10px;
    background-color: var(--orange1);
    background-image: url(assets/img/system7_halftonebit.png);
    background-blend-mode: darken;
}

dialog header {
    /* cursor: move; */
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

dialog main {
    overflow: scroll;
    padding: 5px;
    max-height: 90%;

    display: flex;
    /* justify-content: space-between; */
}

dialog main>* {
    margin: 10px;
}

dialog header h1 {
    font-size: medium;
}

/*  resume      */



/*  portfolio   */

.panel {
    border: 1px solid black;
    max-height: 90%;
}

#folders {
    box-sizing: border-box;
}

/* #subfolders {
    display: none;
} */

/* #folders p:hover, #list p:hover {
    background-color: #600d63b3;
} */

/* #infos {
    flex-grow: 2;
} */

/* #infos>* {
    display: none;
} */

/* #i_desc {
    max-height: 50%;
    overflow: scroll;
} */

.label {
    font-weight: bold;
}


/*  contact     */

#contact_window main {
    display: block;
}



/*
    SPECIFIQUE
*/

#ducky {
    width: 40px;
    height: 40px;
    background-color: #ffffff80;
    border-radius: 50%;
}

#langlink {
    padding: 0;
}