* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #360b3d;
    overflow: hidden;
    resize: none;
}

nav {
    max-height: 4vh;
    color: #ffffff;
    background-color: #ea1c90;
    
    display: flex;
    flex-direction: row;
}

nav p {
    padding: 5px;
    width: 70px;
    text-align: center;
    /* border: 1px solid #000000; */
}

nav p:hover {
    background-color: #f79648;
}

a, a:visited {
    color: #ffffff;
    text-decoration: none;
}

button {
    padding: 5px;
}

body>footer {
    height: calc();
}

dialog {
    min-width: 300px;
    max-width: 90vw;
    max-height: 80vh;
    resize: none;

    border: 1px solid #fea459;
    background-color: #fdbd89;
    box-shadow: 0 2px 5px #ff9844;

    position: absolute;
}

dialog * {
    padding: 3px;
    resize: none;
    /* position: absolute; */
}

dialog header, dialog footer {
    background-color: #ff9844;
}

dialog header {
    text-align: center;

    cursor: move;
}

dialog main {
    overflow: scroll;
    height: 50%;
    padding: 5px;
    width: 90%;
}

/* dialog footer {

} */