/*
    GENERAL
*/

.desktopIcon {
    display: none;
}


/*
    DIALOG
*/

dialog {
    width: 100%;
}

/*  portfolio       */

#portfolio_window main {
    flex-direction: column;
    min-height: 50vh;
}

#explorer {
    min-height: 30vh;
    max-height: 30vh;
}

#detail {
    display: none;
}

#infos {
    display: none;
}