/*
    GENERAL
*/

.desktopIcon {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    height: 40px;
    width: 40px;
}

.iconTxt {
    color: white;
}

.small {
    width: 300px;
}

.medium {
    width: 500px;
}

.large {
    width: 700px;
}


/*
    ICONES
*/

#about {
    top: 60px;
    right: 25px;
}

#resume {
    top: 140px;
    right: 25px;
}

#portfolio {
    top: 220px;
    right: 25px;
}

#contact {
    top: 300px;
    right: 25px;
}


/*
    DIALOG
*/

dialog {
    position: absolute;
    max-height: 80vh;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}

dialog header {
    cursor: move;
}


/*  portfolio     */

#portfolio_window {
    min-height: 440px;
}

#subfolders {
    display: none;
}

#folders p:hover, #list p:hover {
    background-color: var(--pink2a);
}

#explorer {
    width: 30%;
    min-height: 350px;
}

#detail {
    width: 70%;
}

#infos {
    width: 50%;
}

#infos>* {
    display: none;
}

#i_desc {
    max-height: 50%;
    overflow: scroll;
}